<div class="row g-5 py-5">
    <div class="feature col-md-4">
        <h2>Save your contacts</h2>
        <p>Start now saving your contacts and manage them anywhere.</p>
        <a [routerLink]="['/person/list']" class="icon-link">
            Start now!
        </a>
    </div>
    <div class="feature col-md-4">
        <h2>API</h2>
        <p>Discover all possibilities with our API to improve your business.</p>
        <a href="http://localhost:5000/swagger" class="icon-link" target="_blank">
            See more
        </a>
    </div>
</div>